*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}
html,body{
    width:100%;
    background-color: #f4f4f4;
    height:1000px;
}
.wrapper {
    width:100%;
    height:100%;
}
.wrapper .top-nav-wra{
    width:100%;
    height:35px;
    background-color: #f5f5f5;
    border-bottom:1px solid #eee;
}
.wrapper .top-nav-wra .top-nav{
    width:1190px;
    height:35px;
    /* border:1px solid black; */
    margin:0 auto;
}
.wrapper .top-nav-wra .top-nav .top-nav-l{
    float: left;
}

.wrapper .top-nav-wra .top-nav .top-nav-r{
    float: right;
}

.wrapper .top-nav-wra .top-nav li{
    float: left;
    margin-right:7px;
}

.wrapper .top-nav-wra .top-nav a{
    color:#6c6c6c;
    font-size:12px;
    line-height: 35px;
    padding:0 6px;
}
.wrapper .top-nav-wra .top-nav a:hover{
    color:#f40;
}
.wrapper .top-nav-wra .top-nav .china{
    color:#3c3c3c;
    line-height: 35px;
    font-size:12px;   
}
.wrapper .top-nav-wra .top-nav .chinaSpan{
    padding:0 6px;
}
.wrapper .top-nav-wra .top-nav-l .login{
    color:#f40;
}
.wrapper .top-nav-wra .top-nav .bgPic{
    display:inline-block;
    width:6px;
    height:3px;
    vertical-align: middle;
    background-size: 100% 100%;
    
}
.wrapper .top-nav-wra .top-nav .xsjPic{
    background-image: url('./img/xsj.png');
}

.wrapper .top-nav-wra .top-nav-r .shopCarPic{
    width:12px;
    height:12px;
    background-image: url('./img/gwc.png');
}
.wrapper .top-nav-wra .top-nav-r .likePic{
    width:12px;
    height:11px;
    background-image: url('./img/star.png');
}
.wrapper .top-nav-wra .top-nav-r .webNavPic{
    width:6px;
    height:8px;
    background-image: url('./img/dh.png');
}
.wrapper .top-nav-wra .top-nav-r .cutOff span{
    line-height: 35px;
    color:#ddd;
}
/* 导航栏结束 */

.wrapper .search-wrap{
    width:100%;
    height:97px;
    background-color:#fff;
    padding-bottom:8px;
    padding-top:24px;
}

.wrapper .search-wrap .search-con{
    width:1190px;
    height:88px;
    position: relative;
    margin:0 auto;
    /* bordeR:1px solid black; */
}

.wrapper .search-wrap .search-con .logo-box{
    width:190px;
    height:130px;
    display:inline-block;
    background-image:url('img/logo.png');
    background-size:100% 100%;
}

.wrapper .search-wrap .search-con .logo-box{
    width:190px;
    height:88px;
    /* border:1px solid black; */
    display:inline-block;
    background-image:url('img/logo.png');
    background-size:100% 100%;
}
.wrapper .search-wrap .search-con .search-box{
    height:87px;
    width:627px;
    /* bordeR:1px solid black; */
    display:inline-block;
    margin-left:50px;
    position: relative;
    vertical-align: top;
  
}
.wrapper .search-wrap .search-con .search-ft{
    height:20px;
}
.wrapper .search-wrap .search-con .search-ft ul li{
    float: left;
}
.wrapper .search-wrap .search-con .search-ft a{
    color: #666;
    font-size:12px;
}
.wrapper .search-wrap .search-con .search-ft ul li a{
    margin-right: 8px;
}
.wrapper .search-wrap .search-con .search-ft ul li a:hover,
.wrapper .search-wrap .search-con .search-ft ul .select a{
    color:#ff5000;
}
.wrapper .search-wrap .search-con .search-ft .more{
    float:right;
    line-height: 20px;
}

.wrapper .search-wrap .search-con .search-box .search-bd{
    width:627px;
    height:62px;
    /* border:1px solid black;  */
    position: relative;
}
.wrapper .search-wrap .search-con .search-box .search-tab{
    width:610px;
    height:22px;
    /* border:1px solid black; */
    margin-left:17px;
}
.wrapper .search-wrap .search-con .search-box .search-tab ul li{
    float: left;
    height:22px;
    width:36px;
    color:#f40;
    font-size:12px;
    text-align: center;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    line-height: 22px;
    margin-right: 4px;
    cursor: pointer;
}  
.wrapper .search-wrap .search-con .search-box .search-tab ul li:hover{
    background-color:#ffeee5;
}
.wrapper .search-wrap .search-con .search-box .search-tab ul .select{
    color:#fff;
    font-weight:700;
    background:linear-gradient(to right,#ff9000 0,#ff5000 100%);
}  
.wrapper .search-wrap .search-con .search-box .search-panel{
    height:40px;
    width:627px;
    /* border:1px solid black; */
    position:relative;
}
.wrapper .search-wrap .search-con .search-box form{
    /* display:inline-block; */
}

.wrapper .search-wrap .search-con .search-box .btn{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    width: 74px;
    height: 40px;
    overflow: hidden;
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.wrapper .search-wrap .search-con .search-box .btn button{
    font-size: 18px;
    font-weight: 700;
    color: #FFF;
    background: linear-gradient(to right,#ff9000 0,#ff5000 100%);
    cursor: pointer;
    height: 100%;
    border: none;
    width: 100%;
}
.wrapper .search-wrap .search-con .search-box .search-inp-box{
    margin-right: 74px;
    border: 2px solid #ff5000;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: none;
    overflow: hidden;
    height: 36px;
    width:551px;
}
.wrapper .search-wrap .search-con .search-box .search-inp-box .search-inp{
    height: 36px;
    overflow: hidden;
    width: 472px;
    /* border:1px solid black; */
    /* background:green; */
}
.wrapper .search-wrap .search-con .search-box .search-inp-box .search-inp input{
    padding: 6px 16px;
    text-indent: 10px;
    height: 24px;
    line-height: 24px;
    width: 472px;
    border: none;
    outline: 0;
    background: #FFF;
}
.wrapper .search-wrap .search-con .search-box .sousuo,
.wrapper .search-wrap .search-con .search-box .camera{
    display:inline-block;
    position:absolute;
    /* border:1px solid black; */
}
.wrapper .search-wrap .search-con .search-box .sousuo{
    width:12px;
    height:16px;
    top:11px;
    left:14px;
    background:url('img/fdj.png') no-repeat;
    background-size: 100% 100%;
}
.wrapper .search-wrap .search-con .search-box .camera{
    width:20px;
    height:22px;
    top:11px;
    right:90px;
    background-image:url('img/camera.png');
    background-size: 100% 100%;
}
/* 二维码  */

.wrapper .search-wrap .search-con .code-box{
    border:1px solid #eee;
    height:90px;
    width:76px;
    display:inline-block;
    margin-left:120px;
    vertical-align: top;
    position:relative;
}
.wrapper .search-wrap .search-con .code-box .p-tb{
    display:inline-block;
    line-height: 20px;
    margin: 4px auto 0;
    width: 78px;
    color:#ff5000;
    font-size:14px;
    text-align: center;
}
.wrapper .search-wrap .search-con .code-box .code{
    display:inline-block;
    margin-left: 6px;
    width: 62px;
    height: 62px;
    background:url('img/ewm.png') no-repeat;
    background-size: 100% 100%; 
}
.wrapper .search-wrap .search-con .code-box .close{
    position:absolute;
    display: inline-block;
    height:16px;
    width:16px;
    top:0;
    left:-18px;
    color:#ddd;
    border:1px solid #eee;
    line-height: 16px;
    text-align: center;
    font-size: 14px;
}
/* 中间导航条开始、 */
.wrapper .scrren-nav{
    width:100%;
    height:30px;
    background:linear-gradient(to right,#ff9000 0,#ff5000 100%);
}
.wrapper .scrren-nav .scrren-nav-con{
    width:1190px;
    height:30px;
    margin:0px auto;
}
.wrapper .scrren-nav .scrren-nav-con ul{
    float: left;
    font-size:16px;
    height:30px;
}
.wrapper .scrren-nav .scrren-nav-con h2{
    float: left;
    width:190px;
    height:100%;
    text-align: center;
    font-size: 16px;
    background: #ff5000;
    color:#fff;
    line-height: 30px;    
}
.wrapper .scrren-nav .scrren-nav-con ul li{
    float: left;
    cursor: pointer;
    margin: 0 3px;
    text-align: center;
    padding: 0 4px;
    position:relative;
    font-size:16px;
    font-weight:700;
}
.wrapper .scrren-nav .scrren-nav-con ul li a{
    color:#fff;
    display: inline-block;
    text-align: center;
    height:30px;
    line-height: 30px;    
    vertical-align: middle;
}
/* 中间导航条结束、 */
/* 主要显示区域 */
.wrapper .scrren-box{
    width:1190px;
    height:632px;
    /* border-bottom:1px solid black; */
    position: relative;
    margin:0 auto;
}
.wrapper .scrren-box .main{
    float: left;
    width:730px;
    height:632px;
    /* border-right:1px solid black; */
}
.wrapper .scrren-box .main .main-inner{
    height:522px;
    width:720px;
    /* border-bottom: 1px solid black; */
}
.wrapper .scrren-box .main .main-inner .inner-left{
    width:190px;
    height:522px;
    float:left;
    position: relative;
    background-color:#fff; 
}
.wrapper .scrren-box .main .main-inner .inner-left ul{
    width:190px;
    border:1px solid #ff5000;
    font-size:14px;
    border-top:none;
    padding-top: 5px;
}
.wrapper .scrren-box .main .main-inner .inner-left ul li{
    overflow: hidden;
    line-height: 32px;
    height: 32px;
    padding-left: 25px;
    padding-right: 19px;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    width: 145px;
    color: #666;
}
.wrapper .scrren-box .main .main-inner .inner-left ul li:hover{
    background-color:#ffe4dc;
}
.wrapper .scrren-box .main .main-inner .inner-left ul li:hover a{
    color:#ff5000;
}
.wrapper .scrren-box .main .main-inner .inner-left ul li a{
    color:#666;
    text-align: left;
    font-weight: 400;
}
.wrapper .scrren-box .main .main-inner .inner-left ul li span{
    position:absolute;
    display:inline-block;
    right:10px;
    height:8px;
    width:5px;
    background-image:url('img/yjt.png');
    background-size: 100% 100%;
    top:50%;
    margin-top:-4px;
}
.wrapper .scrren-box .main .main-inner .inner-content{
    widows: 520px;
    /* border-right:1px solid black; */
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    height: 512px;
}
.wrapper .scrren-box .main .main-inner .inner-content .pic-box{
    width:520px;
    height:280px;
    position: relative;
} 
.wrapper .scrren-box .main .main-inner .inner-content .pic-box a{
    display:inline-block;
    height:100%;
    width:100%;
    background-image:url('img/pic2.png');
    background-size:100% 100%; 
}
.wrapper .scrren-box .main .main-inner .inner-content .pic-box ul{
    position: absolute;
    border-radius: 10px;
    bottom: 15px;
    height: 13px;
    text-align: center;
    font-size: 0;
    left: 50%;
    margin-left: -39px;
    background-color: rgba(255,255,255,.3);
}
.wrapper .scrren-box .main .main-inner .inner-content .pic-box ul li{
    float: left;
    margin:3px;
}
.wrapper .scrren-box .main .main-inner .inner-content .pic-box ul li a{
    display: block;
    padding-top: 8px;
    width: 8px;
    height: 0;
    border-radius: 50%;
    background: #fff;
}

.wrapper .scrren-box .main .main-inner .inner-content .pic-box ul li .selected{
    background: #ff5500;
    
}
.wrapper .scrren-box .main .main-inner .inner-content .inner-mall{
    width:520px;
    height:230px;
    /* border-bottom: 1px solid black; */
}
.wrapper .scrren-box .main .main-inner .inner-content .inner-mall .head{
    width:520px;
    height:22px;
    /* border-top:1px solid black; */
    border-bottom:3px solid #ff1648;
    
}

.wrapper .scrren-box .main .main-inner .inner-content .inner-mall .tm-pic{
    display:inline-block;
    width:136px;
    height:20px;
    background:url('img/tm.png') no-repeat;;
    background-size:100% 100%;  

}
.wrapper .scrren-box .main .main-inner .inner-content .inner-mall .tm{
    font-size: 12px;
    color: #666;
}
.wrapper .scrren-box .main .main-inner .inner-content .inner-mall .pic-show{
    display:inline-block;
    width:520px;
    height:201px;
    background-image:url('img/pic3.png');
    background-size:100% 100%;  
}
.wrapper .scrren-box .main .main-bottom {
    height:100px;
    width:888px;
    /* border-right:1px solid black; */
}
.wrapper .scrren-box .main .main-bottom .bottom-content{
    position: relative;
    padding: 14px 14px 12px 20px;
    margin-top: 10px;
    background: #fff;
}
.wrapper .scrren-box .main .main-bottom .bottom-content .left-logo{
    height:73px;
    width:180px;
    background-image: url('img/tbtt.png');
    background-size: 100% 100%;
}
.wrapper .scrren-box .main .main-bottom .bottom-content .content-tt{
    width:675px;
    height:73px;
    position: absolute;
    top:14px;
    left:200px;

}
.wrapper .scrren-box .main .main-bottom .bottom-content .content-tt img{
    width:130px;
    height:73px;
    float: left;
}
.wrapper .scrren-box .main .main-bottom .bottom-content .content-tt h4{
        margin-top: 2px;
        margin-left: 144px;
        color: #333;
        height: 28px;
        overflow: hidden;
        display: block;
        line-height: 28px;
        font-size: 16px;
        font-weight: 500
}
.wrapper .scrren-box .main .main-bottom .bottom-content .content-tt h4:hover{
    color: #ff5500;
}
.wrapper .scrren-box .main .main-bottom .bottom-content .content-tt p{
    margin-left: 144px;
    color: #999;
    height: 36px;
    overflow: hidden;
    line-height: 18px;
    font-size: 14px;
}
/* 左边中间区域结束 */
/* 中间小部分区域开始 */
 
.wrapper .scrren-box .col-middle{
    /* display:inline-block;     */
    float:left;
    width:160px;
    height:522px;
    /* border:1px solid black; */
    margin-top:10px;
}
.wrapper .scrren-box .col-middle .middle-pic1{
    display: inline-block;
    width:160px;
    height:280px;
    background-image:url('img/pic1.png');
    background-size:100% 100%;  
}
.wrapper .scrren-box .col-middle .middle-pic2{
    margin-top:3px;
    /* height: */
    width:100%;
    color:#666;
    font-size:12px;
    padding-bottom:3px;
    /* background: red; */
}  

.wrapper .scrren-box .col-middle .middle-pic2 a{
    display: inline-block;
    height:200px;
    width:100%;
    background-image:url('img/pic4.png');
    background-size:100% 100%;  
}  




.wrapper .scrren-box .col-right{
    float: left;
    width:290px;
    height:632px;
    /* border:1px solid black; */
    background-color:#fff;
}

.wrapper .scrren-box .col-right .member{
    height:132px;
    width:290px;
    padding:3px 0 10px 0px;
    background-image:url('img/bg.png');
    background-size:100% 100%;
    margin-top:10px;
}
.wrapper .scrren-box .col-right .member .member-bd{
    height:91px;
    width:290px;

}
.wrapper .scrren-box .col-right .member .member-bd .tx{
    width:290px;
    height:56px;
    text-align: center;
}
.wrapper .scrren-box .col-right .member .member-bd .tx a{
    display:inline-block;
    width:50px;
    height:50px;
    border-radius:50%;
    background-image: url('img/tx.jpg');
    background-size:100% 100%;
}

.wrapper .scrren-box .col-right .member .info{
    display: block;
    line-height: 17px;
    height: 17px;
    text-align: center;
    color:#3c3c3c;
    font-size: 14px;
}
.wrapper .scrren-box .col-right .member .member-bd p{
    height:17px;
    width:290px;
    line-height: 17px;
    text-align: center;
}
.wrapper .scrren-box .col-right .member .member-bd p a{
    background: #ffe4db;
    width:72px;
    height:17px;
    padding:0 10px 0 20px;
    border-radius: 9px;
    font-size:12px;
    line-height:17px;
    text-align: center;
    position:relative;
    color:#ff5000;
}
.wrapper .scrren-box .col-right .member .member-bd p span{
    position:absolute;
    height:16px;
    width:16px;
    top:0;
    left:0;
    background-image:url('img/pics.png');
    /* background-size:100% 100%; */
}
.wrapper .scrren-box .col-right .member .member-bd .icon span{
    background-position: 0 -572.5px;
    
}
.wrapper .scrren-box .col-right .member .member-bd .club span{
    background-position: 0 -528px;
}

.wrapper .scrren-box .col-right .member .member-tf{
    width:290px;
    height:40px;
    text-align: center;
    padding-top:10px;
}


.wrapper .scrren-box .col-right .member a{
    display:inline-block;
    height:25px;
    width:75px;
    background:linear-gradient(to right,#ff5000 0,#ff6f06 100%);

    color:#fff;
    font-size: 14px;
    font-weight: 700;
    border-radius:4px;line-height: 25px;
    text-align: center;
}
.wrapper .scrren-box .col-right .member .login{
    width: 92px;
}
.wrapper .scrren-box .col-right .message{
    width:290px;
    height:26px;
}
.wrapper .scrren-box .col-right .message a{
    display:inline-block;
    position: relative;
    padding-left: 82px;
    color: #f40;
    display: block;
    height: 26px;
    line-height: 26px;
    background: #ffe4dd;
    font-size: 12px;
}
.wrapper .scrren-box .col-right .message a span{
    position: absolute;
    right: 52px;
    top: 9px;
    line-height: 0;
    width: 0;
    height: 0;
    border-style: solid;
    margin-left: 32px;
    border-width: 5px 0 5px 7px;
    border-color: transparent transparent transparent #f40
}

.wrapper .scrren-box .col-right .notice{
    height: 98px;
    padding-top: 10px;
    width: 290px;
    /* border:1px solid black; */
}

.wrapper .scrren-box .col-right .notice .title{
    position: relative;
    height: 24px;
    margin-top: 4px;
    overflow: hidden;
    margin-right: -2px;
    padding: 0 8px;
}
.wrapper .scrren-box .col-right .notice .title li{
    float: left;
    line-height: 20px;
    width: 32px;
    text-align: center;
    margin: 0 11px;
}
.wrapper .scrren-box .col-right .notice .title li a{
    color:#3c3c3c;
    font-size: 14px;    
}
.wrapper .scrren-box .col-right .notice .title .select{
    font-weight: 700;
    border-bottom: 2px solid #F40;
}

.wrapper .scrren-box .col-right .notice .title li a:hover{
    color:#ff5000;
}
.wrapper .scrren-box .col-right .notice .content{
    margin: 0 12px;
    height: 50px;
    overflow: hidden;
    padding-top: 9px;
    padding-bottom: 6px;
}

.wrapper .scrren-box .col-right .notice .content li{
    float: left;
    line-height: 25px;
    height: 25px;
    width: 130px;
}
.wrapper .scrren-box .col-right .notice .content li a{
    color:#3c3c3c;
    font-size: 12px;
}

.wrapper .scrren-box .col-right .notice .content li .select{
    color:#ff5000;
}


.wrapper .scrren-box .col-right .module{
    width:290px;
    height:230px;
    border-top:1px solid #f4f4f4;
    
}
.wrapper .scrren-box .col-right .module ul li{
    float: left;
    height:75px;
    width:71px;
    border-right:1px solid #f4f4f4;
    border-bottom:1px solid #f4f4f4;
}
.wrapper .scrren-box .col-right .module ul li a{
    display: block;
    text-align: center;
}

.wrapper .scrren-box .col-right .module ul li a span{
    display:inline-block;
    width: 24px;
    height:24px;
    margin-top:11px;
    background:url('img/pics.png') 100% 100% no-repeat;
}
.wrapper .scrren-box .col-right .module ul li a p{
    line-height: 24px;
    color:#333;
    font-size:12px;
} 
.wrapper .scrren-box .col-right .module ul li a .icon1{
    background-position:0 0;
}
.wrapper .scrren-box .col-right .module ul li a .icon2{
    background-position:0 -85px;
}
.wrapper .scrren-box .col-right .module ul li a .icon3{
    background-position:0 -44px;
}
.wrapper .scrren-box .col-right .module ul li a .icon4{
    background-position:0 -132px;
}
.wrapper .scrren-box .col-right .module ul li a .icon5{
    background-position:0 -176px;
}
.wrapper .scrren-box .col-right .module ul li a .icon6{
    background-position:0 -220px;
}
.wrapper .scrren-box .col-right .module ul li a .icon7{
    background-position:0 -264px;
}
.wrapper .scrren-box .col-right .module ul li a .icon8{
    background-position:0 -308px;
}
.wrapper .scrren-box .col-right .module ul li a .icon9{
    background-position:0 -352px;
}
.wrapper .scrren-box .col-right .module ul li a .icon10{
    background-position:0 -396px;
}
.wrapper .scrren-box .col-right .module ul li a .icon11{
    background-position:0 -440px;
}
.wrapper .scrren-box .col-right .module ul li a .icon12{
    background-position:0 -484px;
}
.wrapper .scrren-box .col-right .app{
    width:290px;
    height:110px;
}
.wrapper .scrren-box .col-right .app h3{
    font-size: 14px;
    padding-left: 14px;
    height: 30px;
    line-height: 30px;
    position: relative;
    z-index: 2;
}
.wrapper .scrren-box .col-right .app ul{
    padding-left: 23px;
    position: relative;
    height: 84px;
}
.wrapper .scrren-box .col-right .app ul li{
    float: left;
    transition: all 0s;
    position: relative;
    width: 32px;
    height: 32px;
    margin-right: 21px;
    margin-bottom: 8px;
}

.wrapper .scrren-box .col-right .app ul li img{
    width:32px;
    height:32px;
}
.wrapper .scrren-box .col-right .app .more{
    position: absolute;
    right: 10px;
    font-size: 12px;
    font-weight: 400;
    color:#333;
}
.wrapper .scrren-box .col-right .app .more:hover{
    color:#ff5500;
}